.container {
  background-color: rgb(0, 0, 0);
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;

  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0px 20px;
}

.header {
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
}
.header > a {
  color: rgb(229, 9, 20);
  text-decoration: none;
}

.main {
  padding-top: 10px;
}

.footer {
  padding: 100px 0px;
  color: gray;
}
