.searchable_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchable_container > input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  background-color: rgb(0, 0, 0);
}

.searchable_container > button {
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: rgb(100, 100, 100);
  color: white;
  cursor: pointer;
}
